.font-color-base {
  color: var(--color-font-base);
}
.font-color-base-light {
  color: var(--color-font-base-light);
}
.font-color-base-lighter {
  color: var(--color-font-base-lighter);
}
.font-color-secondary {
  color: var(--color-font-secondary);
}
.font-color-secondary-light {
  color: var(--color-font-secondary-light);
}
.font-color-attention {
  color: var(--color-font-attention);
}
.font-color-third {
  color: var(--color-font-third);
}
.font-color-fourth {
  color: var(--color-font-fourth);
}