.close {
  &--base {
    @extend .button-clear;
    display: block;
    font-size: var(--font-size-text-primary);
    color: var(--color-font-secondary-sixth);
    transform: rotate(45deg);
    font-weight: 600;
    padding: 0.5em !important;
    opacity: 1;
  }
}