.dropdown {
  &--base {
    .dropdown__button {
      @extend .button-clear;
      @extend .title--secondary;
      text-align: left;
      .svg-icon {
        transform: rotate(90deg);
        font-size: var(--font-size-text-primary);
        color: var(--color-font-secondary-seventh);
        margin-left: 1em;
      }
    }
    .dropdown__menu {
      padding: 2em;
      margin-top: 1em;
      border: none;
      box-shadow: 1px 6px 24px var(--box-shadow-color-secondary);
    }
    .dropdown__link {
      display: block;
      margin-bottom: 1em;
      text-decoration: none;
      color: var(--color-font-base-third);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}