<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__column header__column--logo">
        <a class="logo logo--base" href="#">
          <img src="img/logo.png" alt="">
        </a>
      </div>
      <div class="header__column header__column--contacts">
        <div class="header__contacts-title">Добро пожаловать в Ваш персональный кабинет!</div>
        <div class="header__contacts-row">
          <div class="header__contacts-column">
            <div class="header__contacts-label">телефон для справок:</div>
          </div>
          <div class="header__contacts-column">
            <a class="header__contacts-link" href="#"><strong>+998 71 230-21-37</strong></a>
          </div>
          <div class="header__contacts-column">
            <a class="header__contacts-link" href="#"><strong>+998 71 256-09-19</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>