.table {
  &--base {
    font-weight: 300;
    color: var(--color-font-base);
    min-width: 500px;
    thead {
      th {
        border: none;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: var(--background-color-eigth);
        }
      }
    }
    td, th {
      padding: .5em 1em;
      text-align: center;
      border: none;
      vertical-align: middle;
      &:first-child {
        text-align: left;
        @include media(m, $xl) {
          padding-left: 4em;
        };
      }
    }
    td {
      & + td {
        border-left: 1px solid var(--border-color-eight);

      }
    }
    .icon-text--base {
      // text-align: left;
      justify-content: center;
    }
  }
  &--secondary {
    @extend .table--base;
    min-width: 800px;
    th, td {
      padding: .5em 2em;
      &:first-child {
        width: 180px;
      }
    }
    & > tbody {
      & > tr {
        & > td {
          &:first-child {
            font-weight: 700;
            color: var(--color-font-fifth-fourth);
          }
        }
      }
    }
    .table--base {
      border-radius: 0 0 20px 20px;
      overflow: hidden;
      td {
        text-align: left;
        padding: 1em 2em;
      }
    }
    tr {
      tr {
        &:nth-child(odd) {
          background-color: var(--border-color-base);
        }
        &:nth-child(even) {
          background-color: var(--background-color-eigth);
        }
      }
    }
    td[colspan='5'] {
      padding: 0;
    }
  }
  &--third {
    @extend .table--base;
    td, th {
      padding: 1em 2em;
      &:first-child {
        text-align: center;
        padding: 1em;
      }
      &:nth-child(2) {
        text-align: left;
      }
    }
  }
}
