.form-checkbox {
  position: relative;
}
.form-checkbox__input {
  @extend .input-hidden;
  &:checked + .form-checkbox__pseudo {
    .form-checkbox__pseudo-icon {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.form-checkbox__pseudo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form-checkbox__pseudo-icon {
  position: relative;
  display: block;
  width: 2em;
  height: 2em;
  border: 1px solid var(--border-color-fifth);
  flex-shrink: 0;
  margin-right: 1em;
  
  border-radius: .5em;
  background-color: var(--background-color-base);
  &:before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1.25em;
    height: 1.25em;
    border-radius: .25em;

    opacity: 0;
    visibility: hidden;

    background-color: var(--background-color-secondary);
  }
}

.form-checkbox__pseudo-txt {
  display: block;
  font-size: var(--size-text-secondary);
}