.breadcrumbs {
  ul {
    @extend .list-clear;
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--row-indents);
    margin-right: var(--row-indents);
  }
  li {
    @extend .column;
    &:after {
      content: '';
      position: absolute;
      width: 15px;
      top: 50%;
      left: 100%;
      margin-left: -7px;
      border-bottom: 1px solid var(--border-color-base-secondary);
    }
    &:last-child {
      font-weight: 600;
      a {
        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
      &:after {
        display: none;
      }
    }
    &.active {

    }
  }
  a {
    display: block;
    font-size: var(--size-text-sub);
    color: var(--color-font-secondary-light);
    text-transform: uppercase;
    text-decoration: none;
    // letter-spacing: .5px;    
    &:hover {
      text-decoration: underline;
    }
  }
}