<footer class="footer">
  <div class="background background--footer" style="background-image: url(img/layout-bg.png);">&nbsp;</div>
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__column footer__column--logo">
        <a class="logo" href="#">
          <img src="img/logo-secondary.svg" alt="">
        </a>
      </div>
      <div class="footer__column footer__column--policy">
        <div class="text text--secondary">Информация, представленная на сайте, не может быть использована для постановки диагноза, назначения лечения и не заменяет прием врача.</div>
      </div>
      <div class="footer__column footer__column--copy"><div>Copyright © 2021</div></div>
    </div>
  </div>
</footer>