.card {
  &--base {
    padding: 1.5em;
    background-color: var(--background-color-base-secondary);
    @include media(m, $lg) {
      padding: 3em;
    }
    .card__head {
      padding: 1.5em 0 3em;
      text-align: center;
      border-bottom: 1px solid var(--border-color-sixth);
    }
    .card__logo {
      max-width: 365px;
    }
    .card__body {
      padding-top: 3em;
      @include media(m, $xxl) {
        padding: 3.5em 2em 1em;
      }
    }
    .form-group {
      margin-bottom: 2.5em;
    }
    .card__row {
      @extend .row;
      align-items: center;
      justify-content: space-between;
    }
    .card__column {
      @extend .column;
      margin-bottom: 1.5em;
      @include media(m, $xl) {
        margin-bottom: 2em;
      }
    }
    .button {
      width: 240px;
      @include media(m, $sm) {
        width: 300px;
      }
    }
  }
  &--warning {
    padding: 1em 1.5em;
    font-size: var(--font-size-text-primary);
    line-height: 2;
    color: var(--color-font-third);
    background-color: var(--background-color-fifth);
    border-radius: 0 5.55em 5.55em 0;
    min-height: 8.33em;
    @include media(m, $xl) {
      padding: 2em 3em;
    }
    a {
      // display: inline;
      font-size: var(--font-size-text-base);
      color: var(--color-font-third);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--secondary {
    padding: 2em 2.1em;
    border: 1px dashed var(--border-color-secondary);
    border-radius: 1.25em;
    background-color: var(--background-color-base);
    box-shadow: 0px 22px 32.9px 2.1px var(--box-shadow-color-secondary);
    @include media(m, $xl) {
      padding: 3em 4.7em;
    }
    .title--third {
      margin-bottom: 2em;
    }
    .card__row {
      @extend .row;
      
      @include media(m, $md) {
        flex-wrap: nowrap;
      };
    }
    .card__column {
      @extend .column;
      &--aside {
        flex-shrink: 0;
        max-width: 250px;
        margin-right: 1.5em;
      }
      &--main {
        flex-grow: 1;
      }
    }
    .card__tag-row {
      @extend .row;
      align-items: center;
    }
    .card__tag-column {
      @extend .column;
      margin-bottom: 1em;
    }
  }
  &--third {
    @extend .card--secondary;
    padding: 2em;
    .card__title {
      margin-bottom: 2em;
    }
    .card__button {
      max-width: 250px;
      margin: 1em auto 0;
    }
  }
  &--calendar {
    border: 1px solid var(--border-color-seventh);
    border-radius: 20px;
    background-color: var(--background-color-base);
    position: relative;
    .card__list {
      padding: 2.5em 3em;
    }
    .card__foot {
      padding: 2.5em 3em 2em;
      background-color: var(--background-color-thirteen);
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 22px 32.9px 2.1px var(--box-shadow-color-secondary);
    }
    .icon-text--secondary-link {
      margin-bottom: 1em;
    }
    .card__close-date {
      color: var(--color-font-third);
      display: flex;
      flex-wrap: nowrap;
      // align-items: center;
    }
    .card__close-date-value {
      font-size: var(--font-size-text-primary);
      font-weight: 600;
      margin-right: 1em;
      margin-bottom: .8em;
    }
    .card__close-date-title {
      padding-top: 2px;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 0.8em;
    }
  }
}
