.footer {
  position: relative;
  z-index: 1;
  padding-top: 2em;
  padding-bottom: 1em;
}
.footer__container {
  @extend .container-fluid;
}
.footer__row {
  @extend .row;
  align-items: center;
}
.footer__column {
  @extend .column;
}
.footer__column {
  width: 100%;
  margin-bottom: 1em;
  &--logo {
    max-width: 245px;
  }
  &--policy {
    max-width: 535px;
  }
  &--copy {
    width: auto;
    @include media(m, $lg) {
      margin-left: auto;
    };
  }
}
.footer__column--logo {

}