.button-add {
  &--base {
    @extend .button-clear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px dashed #ababa9;
    border-radius: 50%;
    
    font-size: var(--font-size-text-primary);
    line-height: 1;
    
    background-color: var(--background-color-base);
    opacity: 0.451;
    .button-add__in {
      display: block;
    }
    &:hover {
      border: 1px dashed var(--border-color-fourth);
      color: var(--color-font-fifth-third);
    }
  }
}
