.tag {
  &--base {
    position: relative;
    display: inline-block;
    padding: .6em 2.5em;
    margin: 0.5em 0;
    
    font-size: var(--font-size-text-primary);
    color: var(--color-font-third);
    line-height: 1;
    text-align: center;
    font-weight: 300;

    border-radius: 20px;
    &--primary {
      background-color: var(--background-color-fourth);
    }
    &--secondary {
      background-color: var(--background-color-fifth);
    }
    &--third {
      background-color: var(--background-color-sixth);
    }
    .tag__close {
      // @extend .button-clear;
      position: absolute;
      left: 100%;
      bottom: 100%;
      margin-bottom: -0.8em;
      margin-left: -0.8em;
      // padding: 0.5em;

      // color: var(--color-font-secondary-sixth);
      // font-weight: 600;
      // transform: rotate(45deg);
    }
  }
}
