.text {
  &--primary {
    font-size: var(--font-size-text-primary);
  }
  &--base {
    font-size: var(--font-size-text-base);
  }
  &--secondary {
    font-size: var(--font-size-text-secondary);
  }
  &--third {
    font-size: var(--font-size-text-third);
  }
}