// GLOBAL CONFIG VARIABLES
// ============================


:root {
  --font-family-primary: 'Zona Pro';
  --font-family-secondary: 'Open Sans';

  --font-size-root-base: 12px;
  --font-size-root-base-md: 13px;
  --font-size-root-base-xxl: 16px;

  --font-size-text-primary: 1.125rem;
  --font-size-text-base: 1rem;
  --font-size-text-secondary: 0.875rem;
  --font-size-text-third: 0.75rem;
  
  --font-size-title-primary: 3rem;
  --font-size-title-secondary: 2.1875rem;
  --font-size-title-third: 1.5rem;
  --font-size-title-fourth: 1.3125rem;
  --font-size-title-fifth: 1.125rem;
  --font-size-title-sixth: 1rem;

  --color-font-base: #000;
  --color-font-base-secondary: rgba(0, 0, 0, 0.9);
  --color-font-base-third: rgba(0, 0, 0, 0.8);
  --color-font-base-fourth: #2e362d;

  --color-font-secondary-base: rgba(0, 0, 0, 0.6);
  --color-font-secondary-secondary: rgba(0, 0, 0, 0.5);
  --color-font-secondary-eigth: rgba(0, 0, 0, 0.4);
  --color-font-secondary-third: rgba(46, 54, 45, 0.5);
  --color-font-secondary-fourth: #e3e3e3;
  --color-font-secondary-fifth: rgba(227, 227, 227, 0.3);
  --color-font-secondary-sixth: rgba(0, 0, 0, 0.2);
  --color-font-secondary-seventh: #b6b6b6;
  --color-font-secondary-eigth: #757575;
  
  
  --color-font-third: #fff;
  
  --color-font-fourth: #b0c816;
  
  --color-font-fifth: #343eb7;
  --color-font-fifth-secondary: #006bc6;
  --color-font-fifth-third: #007f8d;
  --color-font-fifth-fourth: #00a5b2;

  --color-font-sixth: #dc3545;

  --background-color-base: #fff;
  --background-color-base-secondary: rgba(255,255,255, 0.9);
  --background-color-secondary: #000;
  --background-color-third: #031919;
  --background-color-fourth: #b0c816;
  --background-color-fifth: #1eacbb;
  --background-color-sixth: #c69300;
  --background-color-seventh: #e2e2e2;
  --background-color-eigth: #f2f2f2;
  --background-color-ninth: rgba(192, 229, 234, 0.4);
  --background-color-tenth: rgba(108, 108, 108, 0.2);
  --background-color-eleventh: #ff535c;
  --background-color-twelth: rgba(0, 0, 0, 0.2);
  --background-color-thirteen: #0e4648;

  --border-color-base: #fff;
  --border-color-secondary: #ababa9;
  --border-color-secondary-secondary: rgba(171, 171, 169, 0.6);
  --border-color-third: #ff0000;
  --border-color-fourth: #1eacbb;
  --border-color-fifth: #0e4648;
  --border-color-sixth: rgba(119, 119, 119, 0.3);
  --border-color-seventh: #cdcdcd;
  --border-color-eight: #d0d0d0;

  --box-shadow-color-base: rgba(0, 0, 0, 0.05);
  --box-shadow-color-secondary: rgba(116, 116, 116, 0.13);

  --container-width-primary: 1680px;
  --container-width-secondary: 1820px;
  --row-indents: -15px;
  --column-indents: 15px;
}


// ============================
// ============================