.button {
  &--base {
    @extend .button-clear;
    position: relative;
    display: inline-block;
    padding: 1.2em 2em;
    border-radius: 50px;
    // min-width: 300px;
  
    font-size: var(--font-size-text-primary);
    color: var(--color-font-third);
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    
    background-color: var(--background-color-fourth);    
    @extend .transition-base;
    &:after {
      content: '';
      
      position: absolute;
      top: 0;
      left: 0;
      bottom: 5px;
      
      width: 100%;
      border-bottom: 4px solid #fff;
      border-radius: 0 0 35px 35px;
      @extend .transition-base;
    }
    &:hover {
      color: var(--color-font-third);
      background-color: var(--background-color-fourth);    
      transform: scale(.95, .95);
      text-decoration: none;
    }
  }
  &--secondary {
    @extend .button-clear;
    display: inline-block;
    // padding: 1.1em 1.5em 1em;
    padding: 0.8em 1.5em 0.7em;
    border: 1px dashed rgb(30, 172, 187);

    font-size: var(--font-size-text-secondary);
    color: var(--color-font-secondary-base);
    line-height: 1.3;
    
    border-radius: 30px;
    background-color: var(--background-color-base);
    @extend .transition-base;
    &:hover {
      color: var(--color-font-secondary-base);
      transform: scale(.95, .95);
    }
    &:focus {
    }
  }
}

