.collapse-element {
  &--base {
    .collapse-element__button {
      @extend .button-clear;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100%;
      &[aria-expanded="true"] {
        .svg-icon {
          transform: rotate(90deg);
        }   
      }
    }
    .svg-icon {
      font-size: var(--font-size-text-third);
      margin-left: auto;
      color: var(--color-font-secondary-eigth);
    }
  }
}