.tabs {
  &--base {
    position: relative;
    .nav-tabs {
      position: relative;
      border-bottom: none;
      @include media(m, $lg) {
        align-items: flex-end;
      };
      @include media(d, $lg) {
        flex-direction: column;
      };
    }
    .nav-item {
      width: 200px;
      margin-right: 0.4em;
      @include media(m, $lg) {
        width: 250px;
      };
    }
    .nav-link {
      display: block;
      padding-top: 1.2em;
      padding-bottom: 0.8em;

      text-align: center;
      color: var(--color-font-base);
      line-height: 1;

      border-radius: 20px 20px 0 0;
      background-color: var(--background-color-seventh);
      text-decoration: none;
      border: 2px dashed transparent;
      &.active {
        position: relative;
        border-color: var(--border-color-secondary-secondary);
        border-bottom-color: transparent;
        z-index: 9999;
        // bottom: -1px;
        @include media(m, $lg) {
          bottom: -5px;
          padding-top: 2em;
        };
      }
    }
    .tab-content {
      // margin-left: 200px;
      position: relative;
      z-index: 1;
      border: 2px dashed var(--border-color-secondary-secondary);
      border-radius: 0 20px 20px 20px;
      margin-top: 4px;
      background-color: #fff;
    }
    .tab-pane {
      padding-top: 3em;
      overflow-x: auto;
    }
  }
}
