.calendar {
  &--base {
    // position: relative;
    // z-index: 1;
    .datepicker-inline {
      width: 100%;
      overflow: hidden;
      padding: 0 1em;
      @include media(m, $xxl) {
        padding: 0 2em;
      };
    }
    .datepicker-days {
    }
    table {
      width: 100%;
    }
    thead {
      tr {
        // &:first-child {
        //   th {
        //     font-size: var(--font-size-title-third);
        //   }
        // }
        &:nth-child(3) {
          background-color: var(--background-color-ninth);
          th {
            position: relative;
            font-weight: 600;
            color: var(--color-font-fifth-third);
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            &:first-child {
              &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 100%;
                left: -999px;  
                background-color: var(--background-color-ninth);
              }
            }
            &:last-child {
              &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                right: -999px;
                background-color: var(--background-color-ninth);
              }
            }
          }
        }
      }
    }
    .datepicker-switch {
      font-size: var(--font-size-title-third);
      padding-bottom: 20px;
      &:hover {
        background-color: transparent;
      }
    }
    .prev, .next {
      padding-bottom: 20px;
      &:hover {
        background-color: transparent;
      }
    }
    td {
      &.day {
        padding: 12px;
        position: relative;
        z-index: 2;
        font-size: var(--font-size-text-primary);
        color: var(--color-font-base-secondary);
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 2.22em;
          height: 2.22em;
          border-radius: 50%;
          // background-color: red;
          z-index: -1;
        }
        &:hover {
          background: none !important;
        }
        &:hover {
          background: transparent !important;
          color: var(--color-font-third) !important;
          &:before {
            background-color: var(--background-color-fifth);
          }
        }
        &.disabled {
          color: var(--color-font-base-secondary) !important;
          &:hover {
  
          }
          &:before {
            background-color: var(--background-color-tenth);
          }
        }
        &.today {
          background: transparent !important;
          font-weight: 800;
        }
        &.active {
          background: transparent !important;
          color: #fff !important;
          &:before {
            background-color: var(--background-color-eleventh);
          }
        }

      }
    }
  }
}