.icon-text {
  &--link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &--base {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: .4em 0;
    @include media(m, $xl) {
      padding: .7em 0;
    };
    .icon-text__img-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      width: 20px;
      height: 20px;
      margin-right: 1em;
    }
    .icon-text__img {
      max-height: 100%;
    }
    .icon-text__value {
      font-size: var(--font-size-text-third);
    }
  }
  &--secondary {
    @extend .icon-text--base;
    .icon-text__img-wrap {
      width: 30px;
      height: 32px;
    }
    .icon-text__img {
      
    }
    .icon-text__value {
      font-size: var(--font-size-text-base);
      color: var(--color-font-fourth);
    }
  }
  &--secondary-link {
    @extend .icon-text--secondary;
    @extend .icon-text--link;
    color: var(--color-font-fourth) !important;
  }
  &--dropdown-link {
    @extend .icon-text--secondary-link;
    color: var(--color-font-base-third) !important;
    .icon-text__value {
      color: var(--color-font-base-third);
    }
    .svg-icon {
      font-size: var(--font-size-title-third);
      color: var(--color-font-secondary-secondary);
    }
  }
  &--third {
    @extend .icon-text--base;
    .icon-text__img-wrap {
      width: 60px;
      height: 67px;
      margin-right: 2em;
    }
    .icon-text__value {
      font-size: var(--font-size-text-primary);
      color: var(--color-font-secondary-base);
    }
  }
  &--third-link {
    @extend .icon-text--third;
    @extend .icon-text--link;
    color: var(--color-font-secondary-base) !important;
  }
  &--fourth {
    @extend .icon-text--base;
    .icon-text__img-wrap {
      width: 58px;
      height: 67px;
      margin-right: 2em;
    }
    .icon-text__value {
      font-size: var(--font-size-title-third);
      font-weight: 700;
    }
    .icon-text__value-secondary {
      font-size: var(--font-size-title-fourth);
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  &--fourth-link {
    @extend .icon-text--fourth;
    @extend .icon-text--link;
    color: var(--color-font-base) !important;
  }
  &--fifth {
    @extend .icon-text--base;
    .icon-text__img-wrap {
      margin-right: 2em;
      width: 90px;
      height: 125px;
      @include media(m, $xl) {
        width: 145px;
        height: 175px;
      };
    }
    .icon-text__value {
      font-size: var(--font-size-text-primary);
    }
  }
  &--fifth-link {
    @extend .icon-text--fifth;
    @extend .icon-text--link;
    color: var(--color-font-base) !important;
  }
}