.socials-list {
	&--basic {
		.socials-list__in {
			justify-content: center;
			@include md() {
				justify-content: space-between;
			}
		}
		.socials-list__item {
			margin-bottom: 30px;
		}
		.socials-list__link {
			display: block;
			width: 30px;
			transition: linear .1s;
			@include sm() {
				width: 50px;
			}
			&:hover {
				transform: scale(.9, .9);
			}
			img {
				width: 100%;
				height: 100%;
			}
			&--secondary {
				width: 30px;
				@include sm() {
					width: 30px;
				}
			}
		}
	}
	&--secondary {
		.socials-list__in {
			@include lg() {
				flex-direction: column;
			}
		}
		.socials-list__item {
			margin-bottom: 10px;
			@include lg() {
				margin-bottom: 25px;
			}
		}
		.socials-list__link {
			display: flex;
			flex-wrap: nowrap;
		}
		.socials-list__icon {
			flex-shrink: 0;
			max-width: 30px;
			@include lg() {
				margin-right: 10px;
				max-width: 24px;
			}
		}
		.socials-list__txt {
			display: none;
			@include lg() {
				display: block;
			}
		}
	}
}