.background {
  &--footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: -1192px;

    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
    @include media(d, $xl) {
      top: -500px;
    };
  }
}