.section {
  &--login {
    display: flex;
    flex-direction: column;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    .section__in {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      padding: 3em 0;
    }
    .section__container {
      @extend .container-fluid;
      max-width: var(--container-width-secondary)
    }
    .section__row {
      @extend .row;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include media(m, $xl) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
      };
    }
    .section__column {
      @extend .column;
      width: 100%;
      &--list {
        max-width: 500px;
        @include media(m, $xl) {
          max-width: 600px;
        };
        // padding-top: 15em;
      }
      &--form {
        max-width: 500px;
        @include media(m, $xl) {
          max-width: 790px;
        };
        // min-height: 925px;
      }
    }
    .section__list {
      @extend .list-clear;
      li {
        margin-bottom: 1em;
        @include media(m, $xl) {
          margin-bottom: 2em;
        };
      }
    }
    .section__title {
      margin-bottom: 2em;
    }
    .card--base {
      margin-bottom: 3em;
    }
  }
}