.hamburger {
  &--base {
    @extend .button-add--base;
    width: 70px;
    height: 70px;
    font-size: var(--font-size-title-primary);
    opacity: .8;
  }
  &--secondary {
    @extend .button-add--base;
    width: 70px;
    height: 70px;
    font-size: var(--font-size-title-secondary);
    opacity: 1;
		@include media(d, $xl) {
			width: 40px;
			height: 40px;
			font-size: var(--font-size-title-third);
		};
  }
}