.list {
  &--base {
    .icon-text--third-link {
      margin-bottom: 2em;
    }
  }
  &--secondary {
    @extend .list-clear;
    padding-left: 2em;
    li {
      margin-bottom: .7em;
    }
    .list__item {
      position: relative;
      display: inline-flex;
      flex-wrap: wrap;
      padding: 1em 0;
      
      font-size: var(--font-size-text-primary);
      color: var(--color-font-secondary-base);
    }
    .list__name {
      margin-right: 1.5em;
      width: 60px;
    }
    .list__value {
      color: var(--color-font-base);
      width: 140px;
      &:hover {
        color: var(--color-font-fifth-third);
        text-decoration: underline;
      }
    }
    .list__close {
      position: absolute;
      right: 0;
      top: 0;
      // margin-top: -1em;
      // margin-right: -2em;
    }
  }
  &--third {
    @extend .list-clear;
    li {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1em;
    }
    .list__circle {
      width: 1.15em;
      height: 1.15em;
      flex-shrink: 0;
      border-radius: 50%;
      margin-right: 1em;
      &--base {
        background-color: var(--background-color-twelth);
      }
      &--secondary {
        background-color: var(--background-color-eleventh);
      }
    }
    .list__value {
      font-weight: 600;
      font-size: var(--font-size-text-third);
    }
  }
}