<div class="section section--personal">
  <div class="section__in">
    <div class="section__container">
      <div class="section__row">
        <div class="section__column section__column--main">
          <div class="section__head-row">
            <div class="section__head-column section__head-column--dropdown">
              <div class="dropdown dropdown--base">
                <button class="dropdown__button" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <strong>Малика Здравствуйте!</strong>
                  <svg class="svg-icon">
                    <use xlink:href="img/svgSprite.svg#angle"></use>
                  </svg>
                </button>
                <div class="dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown__link" href="#">Something else here</a>
                  <a class="icon-text icon-text--dropdown-link" href="#">
                    <div class="icon-text__img-wrap">
                      <img class="icon-text__img" src="../img/bell.svg" alt="">
                    </div>
                    <span class="icon-text__value">Something else here</span>
                  </a>
                  <a class="icon-text icon-text--dropdown-link" href="#">
                    <div class="icon-text__img-wrap">
                      <svg class="svg-icon">
                        <use xlink:href="img/svgSprite.svg#global"></use>
                      </svg>
                    </div>
                    <span class="icon-text__value">Something else here</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="section__head-column section__head-column--info">
              <div class="info-bar info-bar--base">
                <div class="info-bar__label">Ваш бонус</div>
                <div class="info-bar__value">67 000 UZS</div>
              </div>
            </div>
            <div class="section__head-column section__head-column--burger">
              <button class="hamburger hamburger--base" type="button" data-element="toggle" data-target="aside-menu" data-body-class="scroll-hidden">
                <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#burger"></use></svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="section__row">
        <div class="section__column section__column--main">
          <div class="card card--secondary">
            <div class="title title--third"><strong>Личные данные</strong></div>
            <form>
              <div class="card__row">
                <div class="card__column card__column--aside">
                  <div class="control-group control-group--base is-invalid">
                    <label class="control-group__label" for="height">Рост:</label>
                    <div class="control-group__group">
                      <input class="form-control form-control--third is-invalid" id="height" type="text">
                      <div class="invalid-feedback">dfsfsfsdf</div>
                    </div>
                    <div class="control-group__descr">м.</div>
                  </div>
                  <div class="control-group control-group--base is-valid">
                    <label class="control-group__label" for="weight">Вес:</label>
                    <div class="control-group__group">
                      <input class="form-control form-control--third is-valid" id="weight" type="text">
                      <div class="valid-feedback">dfsfsfsdf</div>
                    </div>
                    <div class="control-group__descr">кг.</div>
                  </div>
                </div>
                <div class="card__column card__column--main">
                  <div class="card__tag-row">
                    <div class="card__tag-column">
                      <div class="text text--primary">Хронические заболевания:</div>
                    </div>
                    <div class="card__tag-column">
                      <div class="tag tag--base tag--base--primary">
                        <div class="tag__value">астма</div>
                        <div class="tag__close">
                          <button class="close close--base" type="button">+</button>
                        </div>
                      </div>
                    </div>
                    <div class="card__tag-column">
                      <div class="tag tag--base tag--base--secondary">
                        <div class="tag__value">сахарный диабет</div>
                        <div class="tag__close">
                          <button class="close close--base" type="button">+</button>
                        </div>
                      </div>
                    </div>
                    <div class="card__tag-column">
                      <div class="tag tag--base tag--base--third">
                        <div class="tag__value">давление</div>
                        <div class="tag__close">
                          <button class="close close--base" type="button">+</button>
                        </div>
                      </div>
                    </div>
                    <div class="card__tag-column">
                      <button class="button-add button-add--base" type="button"><span
                          class="button-add__in">+</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="section__tabs-title">
            <div class="icon-text icon-text--fourth">
              <div class="icon-text__img-wrap">
                <img class="icon-text__img" src="../img/doc.svg" alt="">
              </div>
              <span class="icon-text__value-secondary">Мои анализы</span>
            </div>
          </div>
          <div class="tabs tabs--base">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="my-analys-tab" data-toggle="tab" href="#my-analys" role="tab" aria-controls="my-analys"
                  aria-selected="true">Мои анализы</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="my-orders-tab" data-toggle="tab" href="#my-orders" role="tab" aria-controls="my-orders"
                  aria-selected="false">Мои заказы</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="all-lists-tab" data-toggle="tab" href="#all-lists" role="tab" aria-controls="all-lists"
                  aria-selected="false">Весь список</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="my-analys" role="tabpanel" aria-labelledby="my-analys-tab">
                <table class="table table--base">
                  <thead>
                    <tr>
                      <th>Наименование</th>
                      <th>Кол-во сданных</th>
                      <th>Динамика</th>
                      <th>Скачать</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Общий анализ крови развернутый </td>
                      <td>3</td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/diagram.png" alt="">
                          </div>
                          <span class="icon-text__value">Посмотреть в динамике</span>
                        </a>
                      </td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/download.png" alt="">
                          </div>
                          <span class="icon-text__value">Pdf</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Общий анализ крови с развернутыми ретикулоцитами и тромбоцитами</td>
                      <td>1</td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/diagram.png" alt="">
                          </div>
                          <span class="icon-text__value">Посмотреть в динамике</span>
                        </a>
                      </td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/download.png" alt="">
                          </div>
                          <span class="icon-text__value">Pdf</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>Скорость оседания эритроцитов</td>
                      <td>1</td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/diagram.png" alt="">
                          </div>
                          <span class="icon-text__value">Посмотреть в динамике</span>
                        </a>
                      </td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/download.png" alt="">
                          </div>
                          <span class="icon-text__value">Pdf</span>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="my-orders" role="tabpanel" aria-labelledby="my-orders-tab">
                <table class="table table--secondary">
                  <thead>
                    <tr>
                      <th colspan="2">№ заказа</th>
                      <th>Дата</th>
                      <th>Цена заказа</th>
                      <th>Скачать</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>ID 0001</td>
                      <td>
                        <div class="collapse-element collapse-element--base">
                          <button class="collapse-element__button" type="button" data-toggle="collapse" data-target="#table-tr-1" aria-expanded="false" aria-controls="table-tr-1">
                            <strong>Список анализов</strong>
                            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                          </button>
                        </div>           
                      </td>
                      <td>10.03.2021 </td>
                      <td>500.000 UZS</td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/download.png" alt="">
                          </div>
                          <span class="icon-text__value">Pdf</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="collapse" id="table-tr-1">
                      <td colspan="5">
                        <table class="table table--base">
                          <tbody>
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="4">Общий анализ крови развернутый </td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="4">Общий анализ крови с развернутыми ретикулоцитами и тромбоцитами</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="4">Скорость оседания эритроцитов</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>ID 0001</td>
                      <td>
                        <div class="collapse-element collapse-element--base">
                          <button class="collapse-element__button" type="button" data-toggle="collapse" data-target="#table-tr-2" aria-expanded="false" aria-controls="table-tr-2">
                            <strong>Список анализов</strong>
                            <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#angle"></use></svg>
                          </button>
                        </div>           
                      </td>
                      <td>10.03.2021 </td>
                      <td>500.000 UZS</td>
                      <td>
                        <a class="icon-text icon-text--base" href="#">
                          <div class="icon-text__img-wrap">
                            <img class="icon-text__img" src="../img/download.png" alt="">
                          </div>
                          <span class="icon-text__value">Pdf</span>
                        </a>
                      </td>
                    </tr>
                    <tr class="collapse" id="table-tr-2">
                      <td colspan="5">
                        <table class="table table--base">
                          <tbody>
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="4">Общий анализ крови развернутый </td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="4">Общий анализ крови с развернутыми ретикулоцитами и тромбоцитами</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td colspan="4">Скорость оседания эритроцитов</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade show active" id="all-lists" role="tabpanel" aria-labelledby="all-lists-tab">
                <table class="table table--third">
                  <thead>
                    <tr>
                      <th>№</th>
                      <th>Наименование</th>
                      <th>Цена UZS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Общий анализ крови развернутый </td>
                      <td>56.000</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Общий анализ крови с развернутыми ретикулоцитами и тромбоцитами</td>
                      <td>120.000 </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Скорость оседания эритроцитов</td>
                      <td>65.000 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="section__column section__column--aside" id="aside-menu">
          <div class="section__aside-close">
            <button class="hamburger hamburger--secondary" type="button" data-element="toggle" data-target="aside-menu" data-body-class="scroll-hidden">
              <svg class="svg-icon"><use xlink:href="img/svgSprite.svg#close"></use></svg>
            </button>
          </div>
          <div class="section__column-in">
            <div class="list list--base">
              <a class="icon-text icon-text--third-link" href="#">
                <div class="icon-text__img-wrap">
                  <img class="icon-text__img" src="../img/cog.svg" alt="">
                </div>
                <span class="icon-text__value">Настройки</span>
              </a>
              <a class="icon-text icon-text--third-link" href="#">
                <div class="icon-text__img-wrap">
                  <img class="icon-text__img" src="../img/exit.svg" alt="">
                </div>
                <span class="icon-text__value">Выход</span>
              </a>
            </div>
            <div class="card card--third">
              <div class="card__title">
                <div class="icon-text icon-text--fourth" href="#">
                  <div class="icon-text__img-wrap">
                    <img class="icon-text__img" src="../img/plus.svg" alt="">
                  </div>
                  <span class="icon-text__value">Моя семья</span>
                </div>
              </div>
              <ul class="list list--secondary">
                <li>
                  <div class="list__item">
                    <div class="list__name">Мама:</div>
                    <a class="list__value" href="#">Расулова М.А</a>
                    <div class="list__close">
                      <button class="close close--base" type="button">+</button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list__item">
                    <div class="list__name">Папа:</div>
                    <a class="list__value" href="#">Расулова Ш.А</a>
                    <div class="list__close">
                      <button class="close close--base" type="button">+</button>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list__item">
                    <div class="list__name">Муж:</div>
                    <a class="list__value" href="#">Расулова Н.И</a>
                    <div class="list__close">
                      <button class="close close--base" type="button">+</button>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="card__button">
                <a class="button button--secondary" href="#">Добавить</a>
              </div>
            </div>
            <div class="section__calendar">
              <div class="title title--third text-center"><strong>График сдачи анализов</strong></div>
              <div class="card card--calendar">
                <div id="analys-calendar" class="calendar calendar--base" data-element="calendar">&nbsp;</div>
                <div class="card__list">
                  <ul class="list list--third">
                    <li>
                      <div class="list__circle list__circle--base">&nbsp;</div>
                      <div class="list__value">Прошлые анализы</div>
                    </li>
                    <li>
                      <div class="list__circle list__circle--secondary">&nbsp;</div>
                      <div class="list__value">Следующая сдача анализов</div>
                    </li>
                  </ul>
                </div>
                <div class="card__foot">
                  <a class="icon-text icon-text--secondary-link" href="#">
                    <div class="icon-text__img-wrap">
                      <img class="icon-text__img" src="../img/bell.svg" alt="">
                    </div>
                    <span class="icon-text__value">Посмотреть в динамике</span>
                  </a>
                  <div class="card__close-date">
                    <div class="card__close-date-value">26.03</div>
                    <div class="card__close-date-title">Общий анализ крови</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>