.link {
  color: var(--color-font-secondary);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &--base {
    font-size: var(--font-size-text-primary);
    color: var(--color-font-fifth-secondary);
    text-decoration: underline;
    
  }
}
