.info-bar {
  &--base {
    display: inline-flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    align-items: center;
    // justify-content: center;
    padding: 1em 2em;
    border: 1px dashed var(--border-color-secondary);
    border-radius: 50px;
    
    background-color: var(--background-color-base);
    
    @include media(m, $sm) {
      flex-direction: row;
      flex-wrap: wrap;
    };
    @include media(m, $md) {
      padding: 1.5em 5em;
    };
    .info-bar__label {
      @extend .text--primary;
      font-weight: 300;
      margin-right: 1.5em;
      @include media(m, $sm) {
      };
    }
    .info-bar__value {
      @extend .title--third;
      font-weight: 600;
    }
  }
}