.control-group {
  &--base {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    font-size: var(--font-size-text-primary);
    font-weight: 300;
    padding: .5em 0;
    .control-group__label {
      flex-shrink: 0;
      width: 3.3em;
      padding-right: 0.5em;
      margin: 0;
    }
    .control-group__group {
      flex-grow: 1;
    }
    .control-group__descr {
      flex-shrink: 0;
      padding-left: 0.5em;
      color: var(--color-font-secondary-eigth);
    }
    &.is-invalid, &.is-valid {
      align-items: stretch;
      .control-group__label, .control-group__descr {
        padding-top: 0.3em;
        display: block;
      }
    }
  }
}