<div class="section section--login" style="background-image: url(img/login-bg.jpg);">
  <div class="section__in">
    <div class="section__container">
      <div class="section__row">
        <div class="section__column section__column--list">
          <div class="section__title">
            <h1>Ваш личный кабинет</h1>
          </div>
          <ul class="section__list">
            <li>
              <div class="icon-text icon-text--fifth">
                <div class="icon-text__img-wrap">
                  <img class="icon-text__img" src="../img/doc-secondary.png" alt="">
                </div>
                <span class="icon-text__value">Больше не нужно ность с собой кипу бумаг, все что вам нужно в одном месте и в полном порядке </span>
              </div>
            </li>
            <li>
              <div class="icon-text icon-text--fifth">
                <div class="icon-text__img-wrap">
                  <img class="icon-text__img" src="../img/doc-secondary.png" alt="">
                </div>
                <span class="icon-text__value">Полный список всех пройденных анализов и рекомендации по дольнейшему лечению</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="section__column section__column--form">
          <div class="card card--base">
            <div class="card__head">
              <img class="card__logo" src="img/logo-secondary.svg" alt="">
            </div>
            <div class="card__body">
              <form action="">
                <div class="form-group">
                  <input class="form-control form-control--base is-invalid" type="text" placeholder="Логин" autocomplete="off">
                  <small class="invalid-feedback text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, consequuntur!</small>
                </div>
                <div class="form-group">
                  <input class="form-control form-control--base is-invalid" type="password" placeholder="Пароль" autocomplete="new-password">
                  <small class="invalid-feedback text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, consequuntur!</small>
                </div>
                <div class="card__row">
                  <div class="card__column">
                    <button class="button button--base" type="submit">Войти</button>
                  </div>
                  <div class="card__column">
                    <a class="link link--base" href="#">Забыли пароль?</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card card--warning">
            <div>
              Для регистрации обратитесь к нашим консультантам <br> или по телефону <a href="tel:+998712302137"><strong>+998 71 230-21-37</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>