.section {
  &--personal {
    .section__row {

    }
    .section__column {
      width: 100%;
      margin-bottom: 1em;
      &--main {
        @include media(m, $xl) {
          flex: 0 0 70%;
          max-width: 70%;
        };
      }
      &--aside {
        @include media(m, $xl) {
          flex: 0 0 30%;
          max-width: 30%;
        };
        @include media(d, $xl) {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 9999;
          width: 100%;
          height: 100%;
          padding: 0;
          background-color: rgba(#000, .3);

          opacity: 0;
          visibility: hidden;
          &.active {
            opacity: 1;
            visibility: visible;
          }
        };
      }
    }
    .section__head-row {
      @extend .row;
      @include media(m, $lg) {
        align-items: center;
        justify-content: space-between;
      };
      @include media(d, $lg) {
        position: relative;
        flex-direction: column;
      };
    }
    .section__head-column {
      @extend .column;
      margin-bottom: 1em;
      &--dropdown {
        @include media(d, $lg) {
          order: 2;
        };
      }
      &--info {
        @include media(d, $xl) {
          margin-left: auto;
        };
        @include media(d, $lg) {
          margin-left: 0;
          order: 3;
        };
      }
      &--burger {
        @include media(m, $xl) {
          display: none;
        };
        @include media(d, $lg) {
          margin-left: auto;
          order: 1;
        };
      }
    }
    .section__column-in {
      max-width: 390px;
      margin-left: auto;
      @include media(d, $xl) {
        background-color: #fff;
        height: 100%;
        overflow-y: auto;
        padding: 2em 1.5em;
      };
    }
    .card--third {
      margin-bottom: 5em;
    }
    .section__calendar {
      .title--third {
        margin-bottom: 2em;
      }
    }
    .card--secondary {
      margin-bottom: 3em;
    }
    .section__tabs-title {
      margin-bottom: 2.5em;
    }
    .table {
      margin-bottom: 0;
    }
    .section__aside-close {
      @include media(m, $xl) {
        display: none;
      };
      @include media(d, $xl) {
        position: absolute;
        top: 1.5em;
        left: 1.5em;
      };
			@include media(d, $sm) {
				left: auto;
				right: 3em;
			};
    }
  }
}