.title {
  &--primary {
    font-size: var(--font-size-title-primary);
  }
  &--secondary {
    font-size: var(--font-size-title-secondary);
  }
  &--third {
    font-size: var(--font-size-title-third);
  }
  &--fourth {
    font-size: var(--font-size-title-fourth);
  }
  &--fifth {
    font-size: var(--font-size-title-fifth);
  }
  &--sixth {
    font-size: var(--font-size-title-sixth);
  }  
}