.header {
  position: relative;
  z-index: 2;
  background-color: var(--background-color-third);
  padding: 1.5em 0 0.5em;
  @include media(m, $md) {
    padding: 3.15em 0 1.025em;
  };
}
.header__container {
  @extend .container-fluid;
}
.header__row {
  @extend .row;
  justify-content: space-between;
  align-items: center;
}
.header__column {
  @extend .column;
  width: 100%;
  margin-bottom: 1.5em;
  &--logo {
    max-width: 336px;
  }
  &--contacts {
    max-width: 645px;
  }
}
.header__contacts-title {
  color: var(--color-font-fourth);
  text-transform: uppercase;
  margin-bottom: .8em;
}
.header__contacts-row {
  @extend .row;
}
.header__contacts-column {
  @extend .column;
  margin-bottom: 0.5em;
}
.header__contacts-label {
  text-transform: uppercase;
  color: var(--color-font-secondary-fifth);
}
.header__contacts-link {
  color: var(--color-font-third);
  text-decoration: none;
  &:hover {
    color: var(--color-font-third);
    text-decoration: underline;
  }
}