.form-control {
  &--base {
    border: 1px solid var(--border-color-fifth);
    padding: 1.3em 3.33em 1em;
    border-radius: 50px;
    height: auto;
    
    font-size: var(--font-size-text-secondary);
    line-height: 1;    
    color: var(--color-font-base-third);
    
    box-shadow: inset -9.057px 7.873px 29.12px 2.88px var(--box-shadow-color-base);
    background-color: var(--background-color-base);
    @include media(m, $xl) {
      padding: 1.5em 3.33em 1.4em;
      font-size: var(--font-size-text-primary);
    };
    @include iph() {
      font-size: var(--font-size-text-primary);
      line-height: 1;
      color: var(--color-font-base-third);
    }
    &:focus {
      outline: none;
      border: 1px solid var(--border-color-fifth);
      background-color: var(--background-color-base);
      box-shadow: inset -9.057px 7.873px 29.12px 2.88px var(--box-shadow-color-base);
    }
    &.is-valid {
      &:focus {
        box-shadow: none;
      }
    }
    &.is-invalid {
      color: var(--color-font-sixth);
      @include iph() {
        color: var(--color-font-sixth);
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  &--secondary {
    height: auto;
    @extend .button--secondary;
    font-size: var(--font-size-text-primary);
    padding: 1.45em 3.33em 1.35em;
    transition: none;
    text-align: left;
    border-radius: 2.7em;
    &:hover {
      transform: none;
    }
    &:focus {
      border: 1px dashed rgb(30, 172, 187);
      outline: none;
      background-color: var(--background-color-base);
      box-shadow: none;
    }
    &.is-valid {
      &:focus {
        box-shadow: none;
      }
    }
    &.is-invalid {
      &:focus {
        box-shadow: none;
      }
    }
  }
  &--third {
    @extend .form-control--secondary;
    padding: 0.45em 1em .35em;
    text-align: center;
  }
}
// @import './form-control-base';