h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: var(--font-size-title-primary);
}
h2 {
  font-size: var(--font-size-title-secondary);
}
h3 {
  font-size: var(--font-size-title-third);
}
h4 {
  font-size: var(--font-size-title-fourth);
  font-weight: 600;
}
h5 {
  font-size: var(--font-size-title-fifth);
}
h6 {
  font-size: var(--font-size-title-sixth);
}
p {

}
b, strong {
  font-weight: 700;
}
em, i {

}
u {

}
s {

}

ol {

}
ul {

}
a {
  // display: inline;
  color: var(--color-font-fifth);
  text-decoration: underline;
  &:hover {
    color: var(--color-font-fifth);
    text-decoration: none;
  }
}
blockquote {
  position: relative;
  padding: 20px 50px;

  font-size: var(--font-size-text-primary);

  border-radius: 5px;
  background-color: var(--background-color-eigth);
  &:before, &:after {
    content: '';
    position: absolute;

    width: 15px;
    height: 15px;

    // background: url('../img/quotes.svg') 50% 50% no-repeat;
    background-size: cover;
  }
  &:before {
    top: 10px;
    left: 15px;
  }
  &:after {
    bottom: 10px;
    right: 15px;
  }
}

.devider {
  
}

small, time {
  // font-size: var(--size-base);
  font-size: var(--font-size-text-base);
  @include media(m, $xl) {
    font-size: var(--font-size-text-secondary);
  };
}

img {
  max-width: 100%;
  height: auto;
}
