.container-fluid {
  width: 100%;
  max-width: var(--container-width-primary);
  padding-left: var(--column-indents);
  padding-right: var(--column-indents);
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--row-indents);
  margin-right: var(--row-indents);
}

.column {
  position: relative;
  padding-left: var(--column-indents);
  padding-right: var(--column-indents);
}