html {
  font-size: var(--font-size-root-base);
  @include media(m, $md) {
    font-size: var(--font-size-root-base-md);
  };
  @include media(m, $xxl) {
    font-size: var(--font-size-root-base-xxl);
  };
}

body {
  font-size: var(--font-size-text-base);
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-family-primary), sans-serif;
  background-color: var(--background-color-base);
  color: var(--color-font-base);
  &.scroll-hidden {
    overflow: hidden;
    padding-right: 17px;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .footer {
    margin-top: auto;
  }
}

.main {
  position: relative;
  z-index: 3;
  &--layout {
    padding: 3em 0;
    @include media(m, $xl) {
      padding: 6.5em 0;
    };
  }
}