// WRITE @FONT-FACE
// =================

$fontFamilyPrimary: 'Zona Pro';
$fontFamilySecondary: 'Open Sans';
$fontPrimarySrc: '../fonts/zona-pro/zona-pro';
$fontSecondarySrc: '../fonts/open-sans/open-sans';



$fontsConfig: (
	(
		fontName: $fontFamilyPrimary,
		fontSrc: $fontPrimarySrc,
		fontConfig: (
			(weight: 100, style: normal),
			(weight: 100, style: italic),
			(weight: 300, style: normal),
			(weight: 300, style: italic),
			(weight: 400, style: normal),
			(weight: 400, style: italic),
			(weight: 600, style: normal),
			(weight: 600, style: italic),
			(weight: 700, style: normal),
			(weight: 700, style: italic),
			(weight: 800, style: normal),
			(weight: 800, style: italic),
			(weight: 900, style: normal),
			(weight: 900, style: italic)
		)
	),
	(
		fontName: $fontFamilySecondary,
		fontSrc: $fontSecondarySrc,
		fontConfig: (
			(weight: 300, style: normal),
			(weight: 300, style: italic),
			(weight: 400, style: normal),
			(weight: 400, style: italic),
			(weight: 600, style: normal),
			(weight: 600, style: italic),
			(weight: 700, style: normal),
			(weight: 700, style: italic),
			(weight: 800, style: normal),
			(weight: 800, style: italic)
		)
	),
);

@each $font in $fontsConfig {
	$fontName: map-get($font, 'fontName');
	$fontSrc: map-get($font, 'fontSrc');
	$fontConfig: map-get($font, 'fontConfig');

	@each $fontFace in $fontConfig {
		$weight: map-get($fontFace, 'weight');
		$style: map-get($fontFace, 'style');
		$srcStylePart: '';
		
		@if($style == 'italic') {
			$srcStylePart: 'italic';
		}
	
		@include font-face($fontName, '#{$fontSrc}-#{$weight}#{$srcStylePart}', $weight, $style, woff woff2);
	}
};

// ========================
// ========================